.about-content {
  //   width: 380px;
  margin: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-width: medium;
  border-style: solid;

  p {
    font-size: xx-large;
    flex-direction: row;
  }
}
