node_modules*
.DS_Store*
.env
!*example.ev
docs
/Users/mayankpandey/desktop/Pandemic-Produce-Delivery-Project/client/src/config
/Users/mayankpandey/desktop/Pandemic-Produce-Delivery-Project/client/build
