.card-overall {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 50px;
  text-align: center;
}

.container {
  overflow: hidden;
  //   margin: 0 auto;
  border-radius: 50%;
  //   transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, #7b00e0, #ae31d9);
}
.container {
  height: 470px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}
.container .wrapper img {
  position: relative;
  z-index: 20;
  border-radius: 50%;
  display: block;
  height: 200px;
  width: 200px;
  border: 5px solid #fff;
  object-fit: cover;
  margin: 20px auto;
  transition: all 0.3s ease;
}
.container:hover .wrapper img.active {
  height: 470px;
  width: 350px;
  margin: 0px auto;
  border: none;
  border-radius: 5px;
}
.wrapper .title {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  line-height: 25px;
}
.wrapper .place {
  color: #fff;
  font-size: 17px;
  line-height: 0px;
  margin: 10px 0;
}
.content {
  color: #fff;
  font-size: 17px;
  margin-top: 10px;
  padding: 1px 20px 10px 20px !important;
}
.content .buttons {
  display: flex;
}
.buttons .btn {
  height: 40px;
  width: 150px;
  margin: 0 5px;
}
.buttons .btn button {
  height: 100%;
  width: 100%;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s;
}
.btn button:hover {
  transform: scale(0.95);
}
.container .icons {
  position: relative;
  margin-top: -435px;
  margin-left: 10px;
  list-style: none;
}
.container .icons.active {
  display: none;
}
.container .icons li {
  height: 40px;
  width: 40px;
  margin: 5px 0;
  opacity: 0;
  margin-left: -100px;
  transition: all 0.5s ease;
}
.container:hover .icons li {
  opacity: 1;
  margin-left: 7px;
}
.container:hover .icons li:nth-child(2) {
  transition-delay: 0.2s;
}
.container:hover .icons li:nth-child(3) {
  transition-delay: 0.4s;
}
.container .icons li a {
  color: #7b00e0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: #fff;
  display: block;
  line-height: 40px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.container .icons li a:hover {
  transform: scale(0.9);
}
